<div class="minimalistBlack">
  <h4>Application Name</h4>
  <br>
  <div class="minimalistBlack">
  <div class="row">
    <div class="col-sm-1">
    <h6>Upload File</h6>
  </div>
  <div class="col-sm-11">
    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" hidden accept=".csv" /> 
    <input [(ngModel)]="fileName" /> &nbsp;
    <button type="button" (click)="csvReader.click()">Load</button>
  </div>
</div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-3">
<table class="minimalistBlack">
  <tr><p>No of Students: {{TotalCount}}</p></tr>  
</table>  
</div>
<div class="col-sm-9">
<table class="minimalistBlack" *ngIf="records.length > 0">    
  <thead>  
    <tr>    
      <th>Name </th>    
      <th>Age </th>    
      <th>CIty </th>    
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of records;let i = index;">    
      <td> <span>{{record.name}}</span> </td>    
      <td> <span>{{record.age}}</span> </td>    
      <td> <span>{{record.city}}</span> </td>    
    </tr>    
  </tbody>    
</table>  
</div>
</div> 
<br>
<button (click)="Send()">Send</button>